/* Basic styles */
body, html {
  background: linear-gradient(to bottom, #bbcdf0 0%, #ffffff 100%);
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Arial', sans-serif;
  overflow-y: auto; 
}

.container {
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 90vw; /* Set max width to 90% of the viewport width */
  width: 100%; /* Width adjusts with the viewport */
  margin: auto; /* Center align horizontally */
}

.centered-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  padding: 20px;
}

.centered-button {
  background-color: #3f68ab;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 1.2vw 0;
  margin-top: 10px; /* Adds space above the button */
  width: 50%; /* Adjust width to your preference */
  max-width: 300px; /* Maximum width */
  border-radius: 5px; /* Optional: rounded corners */
}

.centered-button:hover {
  background-color: #163566;
}

.select-box {
  margin-top: 10px; /* Adds space above the select */

}

h1 {
  font-size: 4vw;
  color:#222536; /* Dynamically adjust size based on viewport width */
}

input[type="file"], button {
  width: 100%;
  padding: 1.5vw; /* Increase viewport units to maintain proper sizing across screen sizes */
}

input[type="text" i] {
  padding-block: 1px;
  padding-inline: 2px;
  margin-bottom: 10px;
  width: 95%;
}

button {
  background-color: #3f68ab;
  color: #fff;
  border: none;
  cursor: pointer;
  display: block;
  padding: 1.2vw 0; /* Use viewport units for vertical padding */
}

img {
  max-width: 90%; /* Set image max width to 90% of the container width */
  height: auto;
  display: block;
  margin: 2vh auto; /* Add vertical margin and center align */
}

button:hover {
  background-color: #163566;
}

@media (max-width: 768px) {
  h1 {
    font-size: 5vw; /* Increase font size on smaller screens */
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 6vw; /* Further increase font size on even smaller screens */
  }

  button, input[type="file"] {
    padding: 3vw 0; /* Increase padding on smaller screens */
  }
}
